.idea/
log/

testdata/

!testdata/gaeger/docker-compose.yaml

!testdata/cluster/service.json

!testdata/ipfs/webui.car
!testdata/ipfs/swarm.key

!testdata/container/docker-compose.yaml
!testdata/container/.env
!testdata/container/Makefile