.idea/
log/

testdata/

!testdata/local/jaeger/docker-compose.yaml

!testdata/local/cluster/service.json

!testdata/local/ipfs/webui.car
!testdata/local/ipfs/swarm.key

!testdata/container/docker-compose.yaml
!testdata/container/.env
!testdata/container/Makefile